table {
  --spacing: 0.5em;
  --border-radius: 2px;
  --border: 1px solid;
  --cell-width: 5em;
}

thead {
  display: none;
}

tbody tr {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 1em;
  padding: var(--spacing);
}

tbody tr td {
  flex-basis: var(--cell-width);
  flex-grow: 1;
  border: var(--border);
  border-radius: var(--border-radius);
  text-align: center;
}

tbody tr::before {
  content: attr(aria-label);
  flex-basis: 100%;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

tbody tr td::before {
  content: attr(aria-label) " = ";
  font-weight: bold;
  display: block;
}
